.partners {
    margin-top: 60px;
}
.title {
    font-size: 24px;
}
.partnersItems {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.noPartners {
    padding: 20px 0;
    text-align: center;
    color: #810101;
}
