.personnel {
    margin-top: 100px;
}
.personnel > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 50px;
    align-items: center;
}

.personnelTitle {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px; 
    color: #292929;
    text-align: center;
}
.personnelSection {
    display: flex;
    justify-content: center;
    grid-gap: 59px;
    flex-wrap: wrap;
}
.personnelSection > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personnelNum {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #2D51A3;
}
.personnelLine {
    max-width: 265px;
    width: 100%;
    border: 1px solid #818181;
    margin: 30px 0 20px 0;
}
.personnelText {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #292929;
    text-align: center;
}
@media screen and (max-width: 540px) { 
    .personnel {
        margin-top: 35px;
    }
    .personnelTitle {      
        font-size: 24px;
        line-height: 29px;
    }
    .personnelSection {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .personnelBlock {
        max-width: 120px;
        width: 100%;   
    }
    .personnelNum {
        font-size: 36px;
        line-height: 44px;
    }
    .personnelLine {
        max-width: 191px;
        width: 100%;
        margin: 20px 0 10px 0;
    }
    .personnelText {         
        font-size: 15px;
        line-height: 24px;
    }
}