.footer {
    background-color: rgba(231, 231, 231, 0.2);
    margin-top: 66px;
}
.footerLinks {
    display: flex;
    grid-gap: 38px;
    padding: 35px 0;
    flex-wrap: wrap;
}
.logoBloc {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}
.contacts {
    display: flex;
    flex-direction: column;
}
.contactNumber {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #292929;
    display: flex;
    align-items: center;
}
.contactNumber::before {
    content: url(../../../assets/handset.png);
    width: 18px;
    height: 18px;
    margin-right: 8px;
}
.certificateText {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #292929;
    max-width: 180px;
    width: 100%;
    margin-bottom: 20px;
}
.mapBlock {
    max-width: 320px;
    width: 100%;
    height: 200px;
    z-index: 0;
}

/* map */

.mapSize > div {
    max-width: 320px;
    width: 100%;
}


/*  */

.links {
    display: flex;
    grid-gap: 50px;
}
.mainLink { 
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #292929;
    margin-bottom: 14px;
}
.link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #292929;
    cursor: pointer;
    margin-bottom: 10px;
}
.link:hover {
    transition: all .2s ease;
    text-decoration: underline;
    color: #2d51a3;
}
.footerLine {
    border-top: 1px solid rgba(41, 41, 41, 0.5);
}
.footerCopyRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 54px;
    background-color: #F9FBFF;
}
.leftText, .rightText {
    display: flex;
    grid-gap: 45px;
}
.copyRightText {  
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #292929;
}
.footerLanguage {    
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #292929;
}
.footerLanguage::before {
    content: url(../../../assets/worldIcon.png);
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.linkIcon > img {
    
    width: 20px;
    height: 20px;
}
@media screen and (max-width: 768px) {
    .link, .contactNumber{
        font-size: 16px;
        line-height: 18px;
    }
    .linkIcon {
        display: none;
    }
    .footerCopyRight {
        padding: 8px 15px;
    }

}
/* map  size*/
@media screen and (max-width: 610px) {
    .mapBlock {
        margin-bottom: 45px;
    }
}
@media screen and (max-width: 628px) {
    .firstLinkBlock {
        margin-top: 90px;
    }
}
@media screen and (max-width: 540px) {
    .leftText {
        grid-gap: 14px;
    }
    .copyRightText {
        font-size: 13px;
    }
    .footerLanguage {
        font-size: 13px;
    }
}
