.header {
  background-color: #f9fbff;
  padding: 15px 0;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.header > div {
  display: flex;
  align-items: center;
}

.link {
  transition: all 0.3s;
  color: black;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  grid-gap: 30px;
}
.logoIcon {
  width: 214px;
  height: 52px;
}
.burger {
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
  display: none;
  cursor: pointer;
}
.burgerLine {
  width: 18px;
  height: 2px;
  background: #2d51a3;
  border-radius: 10px;
}

.logoImg {
  padding: 10px;
  background: rgb(134, 133, 133);
  border-radius: 10px;
}

.navList {
  display: flex;
  grid-gap: 40px;
}
.navItem {
  list-style: none;
  border-radius: 10px;
  padding: 10px 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.blackLink {
  background: #2d51a3;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
.blackLink:hover {
  background-color: #3c65c5;
}

.blueLink {
  border: 1px solid #2d51a3;
  color: #2d51a3;
}
.userItem {
  display: flex;
  grid-gap: 20px;
}
.signInBtn {
  color: #2d51a3;
  background: transparent;
}
.textLanguage {
  font-size: 16px;
  line-height: 19px;
  color: #2d51a3;
  margin-left: 16px;
}
.textLanguage::after {
  content: url(../../../assets/down.png);
  width: 10px;
  height: 5px;
  margin-left: 5px;
}
.userText {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #2d51a3;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

/* burger */

.burgerContent {
  position: fixed;
  top: -10000%;
  left: 0;
  background-color: #2d51a3;
  backdrop-filter: blur(8px);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  z-index: 2;
}
.burgerOpen {
  overflow: hidden;
  transition: 0.3s ease top;
  top: 55px;
}
.burgerCloseLine {
  position: absolute;
  width: 24px;
  height: 3px;
  right: 15px;
  top: 25px;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: #fff;
  transform: rotate(135deg);
}
.close > .burgerLine {
  cursor: pointer;
  transition: all .3s ease;
}
.close > .burgerLine:nth-child(1) {
  transform: rotate(45deg);
}
.close > .burgerLine:nth-child(2) {
  opacity: 0;
}
.close > .burgerLine:nth-child(3) {
  transform: translateY(-4px) rotate(-45deg);
}
.userTexts {
  display: flex;
  align-items: center;
}
.icons {
  gap: 20px;
  display: flex;
  align-items: center;
}
.userIcon {
  display: none;
  width: 24px;
  height: 24px;
}
.userIconMarker {
  display: flex;
}
/* ******************************************* */

@media screen and (max-width: 1140px) {
  .userText {
    display: none;
  }
  .userIcon {
    display: flex;
  }
}
@media screen and (max-width: 1024px) {
  .logoIcon {
    width: 166px;
    height: 40px;
  }
}
@media screen and (max-width: 992px) {
  .navItem {
    padding: 9px 19px;
    font-size: 15px;
  }
  .navList {
    grid-gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    grid-gap: 20px;
  }
  .logoIcon {
    content: url(../../../assets/logo2.png);
    width: 40px;
    height: 40px;
  }

  .navList {
    grid-gap: 20px;
  }
  .navItem {
    padding: 7px 15px;
    font-size: 13px;
  }
  .textLanguage {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .header {
    padding: 8px 0;
  }
  .signInBtn {
    margin-left: 20px;
  }
  .burger {
    display: flex;
  }
  .logo {
    grid-gap: 0;
    justify-content: space-between;
    width: 100%;
    flex-direction: row-reverse;
  }
  .icons {
    gap: 0;
  }
  .navItem {
    padding: 9px 13px;
    font-size: 10px;
    line-height: 11px;
  }
  .textLanguage {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }

  .navList {
    display: none;
  }
  .userIcon {
    grid-gap: 0;
    display: none;
  }
  .logoIconSize {
    content: url(../../../assets/logoWhite.png);
    width: 214px;
    height: 50px;
    position: absolute;
    left: 20px;
    top: 6px;
  }
  .burgerLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: none;
  }
  .burgerLink {
    display: flex;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    padding: 0;
    text-transform: inherit;
    margin-bottom: 10px;
  }
  .blueLink {
    margin-bottom: 0;
    border: 1px solid #f9fbff;
    padding: 4px 20px;
    transition: all 0.3s ease;
  }
  .blueLink:hover {
    border: 1px solid #3c65c5;
  }
  .burgerLink:hover {
    text-decoration: underline;
    background-color: transparent;
  }
}
